@using solutions.starbucks.Model
@using solutions.starbucks.Model.Pocos
@using solutions.starbucks.web.Classes
@model CourseViewerModel
@{
    Layout = "~/Views/Shared/_LayoutTraining.cshtml";
    var validated = "false";
    bool track = bool.Parse(System.Configuration.ConfigurationManager.AppSettings["EnableGoogleAnalyticsTracking"]) ? true : false;
}






<section id="content">

    <section class="content-band header__training">

        <div class="inner-wrapper">

            <h1 class="large-overview-title dark">Solutions University</h1>

            

        </div>

    </section>

    @{
        if (Model.Invite != null && Model.TrainingComplete)
        {
        
        <section class="content-band training-complete">

            <div class="inner-wrapper">

                <h2 class="support-title light">Congratulations.</h2>
                <p class="light">You can connect with your manager for next steps or explore additional training resources below.</p>

            </div>

        </section>
                
        }
    }

    @{
        if (Model.Invite != null && Model.TrainingComplete == false)
        {
        <section class="content-band overview__training">

            <div class="inner-wrapper">

                <h2 class="overview-title training light">Welcome to Training</h2>
                <p class="overview-desc__training light">Here, you’ll find all the training materials you need to learn about the Starbucks brand, how to craft beverages and how to create the best possible experience for customers in your We Proudly Serve experience.</p>

            </div>

        </section>
        }
    }

    <section class="content-band topics-selector">

        @{
            if ((Model.Invite != null && Model.Invite.IsDeleted)
                    || (Model.Invite != null && Invites.GetAccessState(Model.Invite) == Invites.AccessStates.Expired))
            {
                // Training invitation expired/deleted
                <div style="width: 850px; background: #ffffff; margin: 0 auto;padding: 50px">
                    We’re sorry, but your training link has expired. Please see your training director for additional training information. 
                </div>
            }
            else
            {
                // Training access is open
                <div class="catalog-grid inner-container">

                    <section>

                        <h3 class="title__coursebuilder-modules">Your Core Curriculum</h3>
                        <p class="light">To begin your training, select &ldquo;View Training&rdquo; from your first training tile.</p>

                    @foreach (var subject in Model.Subjects)
                    {
                        
                        <div class="catalog-grid__item">

                            <input class="topic-check" type="checkbox" name="selectedSubjects[]" value="@subject.SubjectID" ng-checked="selection.indexOf(@subject.SubjectID) > -1" ng-click="toggleSelection(@subject.SubjectID)" />
                            
                            <div class="inner-wrapper">

                                <span class="check-overlay">
                                    <span class="custom-check"></span>
                                </span>

                                <img src='@subject.FundamentalIcon' alt='cute' />

                                <div class="catalog-item__desc">

                                    <div class="catalog-item__title">

                                        <h3>@Html.Raw(subject.Title.Trim())</h3>

                                    </div>
                                    
                                    <div class="catalog-item__short-desc">

                                        <p>@subject.ShortDescription</p>

                                    </div>

                                </div>

                                <div class="catalog-item__buttons">

                                    <a class="btn training-add-btn" href="@Html.Raw(subject.Url + (Model.Invite != null ? "?" + Utilities.Training.AccessToken(Model.Invite) : string.Empty))">View Training</a>

                                </div>

                            </div>

                        </div>
                        
                    }
                        
                        <div class="clear"></div>
                        <input style="display: none;" type="number" name="selectedSubjects" ng-model="selection.length" min="1" required>

                    </section>

                    <h3 class="title__coursebuilder-modules">Supplemental Training</h3>
                    <p class="light">Use these additional training tools and resources to support your daily operation.</p>

                </div>

        

            }
        }

    </section>

    @Html.Action("RenderSupplementalCategories", "CourseSurface")

    <footer class="lead-bar">
        <div class="lead-bar-logo">
        @if (Request.Url.Host.Split('.').First().ToUpper() == "FR")
        {
            <img src="/img/sbs-footer-ca-fr.png" />
        }
        else
        {
            <img src="/img/sbs-footer.png" />
        }
        </div>
    </footer>

</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            SBS.TrainingFunctionality();
        });
    </script>
}