@using umbraco.cms.businesslogic.member
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<h2>Profile</h2>

@{
    if (Umbraco.MemberIsLoggedOn())
    {
        //Get Current Member
        var currentMember = Member.GetCurrentMember();

        
        <h2>@currentMember.Text</h2>

        <div class="row">
            <div>
                <h3>Email: @currentMember.Email</h3>
                <h3>No Of Logins: @currentMember.getProperty("numberOfLogins").Value</h3>
                <h3>No of profile views: @currentMember.getProperty("numberOfProfileViews").Value</h3>
                <h3>Last Login Date: @DateTime.ParseExact(currentMember.getProperty("lastLoggedIn").Value.ToString(), "dd/MM/yyyy @ HH:mm:ss", null)</h3>
            </div>
        </div>
    }
    else
    {
        <h3>You are not logged in</h3>
    }
}


