@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";
    string category = TempData["Category"].ToString().ToLower().Replace("_", "-");
}
@if (Model != null)
{
    <header class="abspos-header @category">
        <h1 class="abspos-header__title light">Recipes</h1>
        <p class="light">@(TempData["CategoryName"]) </p>
    </header>
    <div class="catalog-back">
        <a class="dotted-link @(category == "cold-beverages" ? "alt" : "")" href="/resources/recipes">« Back to Recipes</a>
    </div>
    <div ng-app="product_lookup" ng-controller="recipeCatalogController" ng-init="initialize('@(TempData["Category"])')">
        <div class="filters">
            <div class="inner-container">
                <div id="filter-toggle">
                    Show Filters
                </div>
                <div id="filters-holder">
                    <div class="filters-holder">

                        <div class="filter">
                            <h6>BRAND</h6>
                            <div ng-repeat="item in filters | isInFilterCategory:'brand'">
                                <strong><input type='checkbox' ng-model="item.isSelected" id="{{item.category}}_{{item.value}}" /><label for="{{item.category}}_{{item.value}}">{{item.label}}</label></strong>
                            </div>
                        </div>
                        <div class="filter">
                            <h6>INGREDIENT</h6>
                            <div ng-repeat="item in filters | isInFilterCategory:'ingredient'">
                                <strong><input type='checkbox' ng-model="item.isSelected" id="{{item.category}}_{{item.value}}" /><label for="{{item.category}}_{{item.value}}">{{item.label}}</label></strong>
                            </div>
                        </div>
                        <div class="filter">
                            <h6>FLAVOR</h6>
                            <div ng-repeat="item in filters | isInFilterCategory:'flavor'">
                                <strong><input type='checkbox' ng-model="item.isSelected" id="{{item.category}}_{{item.value}}" /><label for="{{item.category}}_{{item.value}}">{{item.label}}</label></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-summary">
            <div class="inner-container">
                <div id="filter-summary">There are <span ng-bind="(Recipes | isInSelectedFilters:filters).length"></span> items that match your selection</div>
                <div class="filter-tag-list">
                    <span ng-repeat="filter in filters | isSelected" ng-click="removeFilter(filter)">{{filter.label}}</span>
                    <a href="" ng-click="resetFilters()" id="reset-filters">Reset</a>
                </div>
            </div>
        </div>
        <div class="product-list-v2">
            <div class="inner-container">
                <section>
                    <div class="product-v2" ng-repeat="Recipe in Recipes | isInSelectedFilters:filters">
                        <div>

                            @* Most product information (except SiteId, and ProductID is contained in the ProductInformation array...always point to the first item in the array [0] as that's all that is needed  here *@
                            <a href="/resources/recipes/details/{{Recipe.SiteID}}_{{Recipe.RecipeID}}"><img ng-src="/img/Recipes/{{Recipe.SiteID}}/200/{{Recipe.RecipeID}}.jpg" alt="{{Recipe.Title}}" /></a>
                            <div class="product-list-desc">
                                <a href="/resources/recipes/details/{{Recipe.SiteID}}_{{Recipe.RecipeID}}" class="h3" ng-bind-html="Recipe.Title">Loading...</a>
                                <p ng-bind-html="Recipe.Description"></p>
                                <a href="/resources/recipes/details/{{Recipe.SiteID}}_{{Recipe.RecipeID}}" class="btn">GET RECIPE</a>
                                @*<a class="add-to-favorite" href="#"><span class="fa fa-heart"></span> ADD TO FAVORITES</a>*@
                            </div>
                            @*<div class="quick-add" ng-click="select(Product)">
                                    Quick Add
                                </div>*@
                        </div>
                    </div>
                    <div class="clear"></div>
                </section>
            </div>
        </div>

        @Html.Partial("~/Views/Partials/_LoggedInFooter.cshtml")
    </div>
    
    @section scripts {
        <script type="text/javascript">
            SBS.ProductList();
        </script>
    }
}