@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@using solutions.starbucks.Model.Enums

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    if (Request.Cookies["AccountAttributes"] != null)
    {
        ViewBag.IsSBX = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.SBUX.Code);
        ViewBag.IsSBC = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.SBC.Code);
        ViewBag.IsDUAL = (Request.Cookies["AccountAttributes"]["CustomerBrand"] == BrandCode.DUAL.Code);
        ViewBag.IsFrap = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsFrappuccino"]);
        ViewBag.IsEspresso = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsEspresso"]);
        ViewBag.IsPartner = Convert.ToBoolean(Request.Cookies["AccountAttributes"]["IsPartner"]);
    }
    else
    {
        ViewBag.IsSBX = true;
        ViewBag.IsSBC = false;
        ViewBag.IsDUAL = false;
        ViewBag.IsFrap = false;
        ViewBag.IsEspresso = false;
        ViewBag.IsPartner = false;
    }
}

@{
    var inputValue = 0;
    var currentUrl = Request.RawUrl;
    if (currentUrl.Contains("program"))
    {
    <script src="/js/libs/jquery-mobile/jquery.mobile.custom.js"></script>
    <script src="/js/libs/joyride/jquery.joyride-2.1.js"></script>
    <script src="/js/libs/select2.js"></script>
    }
}


<section id="content">
    <section class="wrapper">
        <div class="products-wrapper">
			<div class="your-products">

                <h3>Browse all of our Program Products</h3>
                <p><a class="inline-link" href="#products-submit" data-role="none">Or continue your order below</a>. Any recipes added in the previous step will be reflected on this page.</p>

                <form id="programItemsForm" method="post">
                    <article id="product-Fontana_Latte_Beverage_Base" class="product Fontana_Latte_Beverage_Base available">
                        <div id="out-of-stock-overlay">
                            <div class="overlay-inner">
                                <p>Out of stock for the season</p>
                            </div>
                        </div>
                        <div class="product-inner">
                            <div class="product-column img">
                                <div class="img-wrapper">
                                    <img class="product-image" src="/img/products/200/fontana__latte_beverage_base.jpg" />
                                </div>
                            </div>
                            <div class="product-column details">
                                <div class="product-info">
                                    <h2 class="title">Fontana&trade; Latte Beverage Base</h2>
                                    <p>Made with 100% <em>arabica</em> coffee. Blends into a customer-thrilling beverage in no time. Includes pumps.</p>
                                </div>
                                <div class="product-skus">
                                    <ul class="product-sku-list">
                                        <li class="product-sku-group">
                                            <ul>
                                                <li class="product-sku">
                                                    <ul>
                                                        <li>
                                                            <span class="key">Size </span>
                                                            <span class="value">63 oz</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">SKU</span>
                                                            <span class="value">466217</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">Pack</span>
                                                            <span class="value">4/case</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="product-order-qty">
                                                    <span class="prod-qty">
                                                        <label>Qty</label>
                                                        @if (TempData.ContainsKey("SKU-466217"))
                                                        {
                                                            inputValue = Convert.ToInt32(TempData["SKU-466217"]);
                                                            TempData.Remove("SKU-466217");

                                                        }
                                                        @Html.TextBox("SKU-466217", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                        @{ inputValue = 0; }
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id="product-Fontana_Mocha_Beverage_Base" class="product Fontana_Mocha_Beverage_Base available">
                        <div id="out-of-stock-overlay">
                            <div class="overlay-inner">
                                <p>Out of stock for the season</p>
                            </div>
                        </div>
                        <div class="product-inner">
                            <div class="product-column img">
                                <div class="img-wrapper">
                                    <img class="product-image" src="/img/products/200/fontana__mocha_beverage_base.jpg" />
                                </div>
                            </div>
                            <div class="product-column details">
                                <div class="product-info">
                                    <h2 class="title">Fontana&trade; Mocha Beverage Base</h2>
                                    <p>Made with 100% arabica coffee. A chocolatey and refreshing specialty beverage that takes little time or training to prepare. Includes pumps.</p>
                                </div>
                                <div class="product-skus">
                                    <ul class="product-sku-list">
                                        <li class="product-sku-group">
                                            <ul>
                                                <li class="product-sku">
                                                    <ul>
                                                        <li>
                                                            <span class="key">Size </span>
                                                            <span class="value">63 oz</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">SKU</span>
                                                            <span class="value">466219</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">Pack</span>
                                                            <span class="value">4/case</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="product-order-qty">
                                                    <span class="prod-qty">
                                                        <label>Qty</label>
                                                        @if (TempData.ContainsKey("SKU-466219"))
                                                        {
                                                            inputValue = Convert.ToInt32(TempData["SKU-466219"]);
                                                            TempData.Remove("SKU-466219");

                                                        }
                                                        @Html.TextBox("SKU-466219", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                        @{ inputValue = 0; }
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id="product-Fontana_Mango_Beverage_Base" class="product Fontana_Mango_Beverage_Base available">
                        <div id="out-of-stock-overlay">
                            <div class="overlay-inner">
                                <p>Out of stock for the season</p>
                            </div>
                        </div>
                        <div class="product-inner">
                            <div class="product-column img">
                                <div class="img-wrapper">
                                    <img class="product-image" src="/img/products/200/fontana__mango_beverage_base.jpg" />
                                </div>
                            </div>
                            <div class="product-column details">
                                <div class="product-info">
                                    <h2 class="title">Fontana&trade; Mango Beverage Base</h2>
                                    <p>Made with real fruit puree. Easy to prepare, even easier to love. Includes pumps.</p>
                                </div>
                                <div class="product-skus">
                                    <ul class="product-sku-list">
                                        <li class="product-sku-group">
                                            <ul>
                                                <li class="product-sku">
                                                    <ul>
                                                        <li>
                                                            <span class="key">Size </span>
                                                            <span class="value">63 oz</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">SKU</span>
                                                            <span class="value">189976</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">Pack</span>
                                                            <span class="value">4/case</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="product-order-qty">
                                                    <span class="prod-qty">
                                                        <label>Qty</label>
                                                        @if (TempData.ContainsKey("SKU-189976"))
                                                        {
                                                            inputValue = Convert.ToInt32(TempData["SKU-189976"]);
                                                            TempData.Remove("SKU-189976");

                                                        }
                                                        @Html.TextBox("SKU-189976", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                        @{ inputValue = 0; }
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article id="product-Fontana_Strawberry_Beverage_Base" class="product Fontana_Strawberry_Beverage_Base available">
                        <div id="out-of-stock-overlay">
                            <div class="overlay-inner">
                                <p>Out of stock for the season</p>
                            </div>
                        </div>
                        <div class="product-inner">
                            <div class="product-column img">
                                <div class="img-wrapper">
                                    <img class="product-image" src="/img/products/200/fontana__strawberry_beverage_base.jpg" />
                                </div>
                            </div>
                            <div class="product-column details">
                                <div class="product-info">
                                    <h2 class="title">Fontana&trade; Strawberry Beverage Base</h2>
                                    <p>Made with real fruit puree. Easy to prepare, even easier to love. Includes pumps.</p>
                                </div>
                                <div class="product-skus">
                                    <ul class="product-sku-list">
                                        <li class="product-sku-group">
                                            <ul>
                                                <li class="product-sku">
                                                    <ul>
                                                        <li>
                                                            <span class="key">Size </span>
                                                            <span class="value">63 oz</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">SKU</span>
                                                            <span class="value">11029589</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">Pack</span>
                                                            <span class="value">4/case</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="product-order-qty">
                                                    <span class="prod-qty">
                                                        <label>Qty</label>
                                                        @if (TempData.ContainsKey("SKU-11029589"))
                                                        {
                                                            inputValue = Convert.ToInt32(TempData["SKU-11029589"]);
                                                            TempData.Remove("SKU-11029589");

                                                        }
                                                        @Html.TextBox("SKU-11029589", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                        @{ inputValue = 0; }
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!--

                            Begin Supporting Products

                    -->

                    @if (Request.Cookies["AccountAttributes"]["CustomerBrand"] != null)
                    {
                        if (ViewBag.IsSBC)
                        {
                            <article data-sku="11008695" id="product-Cold_Cups" class="product Cold_Cups available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/products/200/SBC_Cold_Cups.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">Cold Cups</h2>
                                            <p>Our branded cold cup uses 15% less plastic than most other plastic cups which makes them easier to feel good about.</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">11008695</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-11008695"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-11008695"]);
                                                                    TempData.Remove("SKU-11008695");

                                                                }
                                                                @Html.TextBox("SKU-11008695", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })
                                                                <input id="SKU-11008695-SiteId" name="SKU-11008695-SiteId" type="hidden" value="SBC" />

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="1237505" id="product-PP_Cold_Cup_Lids" class="product PP_Cold_Cup_Lids available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/cold-flat-lids.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">PP Cold Cup Lids</h2>
                                            <p>Flat Lids for cold cups</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16/24 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">1237505</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-1237505"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-1237505"]);
                                                                    TempData.Remove("SKU-1237505");

                                                                }
                                                                @Html.TextBox("SKU-1237505", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="1237504" id="product-PP_Cold_Cup_Lids" class="product PP_Cold_Cup_Lids available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/cold-domed-lids.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">PP Cold Cup Lids</h2>
                                            <p>Domed Lids for cold cups</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16/24 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">1237504</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-1237504"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-1237504"]);
                                                                    TempData.Remove("SKU-1237504");

                                                                }
                                                                @Html.TextBox("SKU-1237504", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        else if (ViewBag.IsDual)
                        {
                            <article data-sku="1237520" id="product-PP_Cold_Cups" class="product PP_Cold_Cups available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/products/200/Cold_Cups.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">PP Cold Cups</h2>
                                            <p>"We Proudly Serve" branded polyporpylene cups are recyclable and use 15% less plastic than PET cups and emit 45% less greenhouse gasses during their production.</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">1237520</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-1237520"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-1237520"]);
                                                                    TempData.Remove("SKU-1237520");

                                                                }
                                                                @Html.TextBox("SKU-1237520", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="11008695" id="product-Cold_Cups" class="product Cold_Cups available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/products/200/SBC_Cold_Cups.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">Cold Cups</h2>
                                            <p>Our branded cold cup uses 15% less plastic than most other plastic cups which makes them easier to feel good about.</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">11008695</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-11008695"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-11008695"]);
                                                                    TempData.Remove("SKU-11008695");

                                                                }
                                                                @Html.TextBox("SKU-11008695", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })
                                                                <input id="SKU-11008695-SiteId" name="SKU-11008695-SiteId" type="hidden" value="SBC" />

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="1237505" id="product-PP_Cold_Cup_Lids" class="product PP_Cold_Cup_Lids available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/cold-flat-lids.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">PP Cold Cup Lids</h2>
                                            <p>Flat Lids for cold cups</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16/24 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">1237505</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-1237505"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-1237505"]);
                                                                    TempData.Remove("SKU-1237505");

                                                                }
                                                                @Html.TextBox("SKU-1237505", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="1237504" id="product-PP_Cold_Cup_Lids" class="product PP_Cold_Cup_Lids available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/cold-domed-lids.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">PP Cold Cup Lids</h2>
                                            <p>Domed Lids for cold cups</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16/24 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">1237504</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-1237504"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-1237504"]);
                                                                    TempData.Remove("SKU-1237504");

                                                                }
                                                                @Html.TextBox("SKU-1237504", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="11007879" id="product-Green_Straws" class="product Green_Straws available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/products/200/Green_Straws.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">Green Straws</h2>
                                            <p>Green straws for Starbucks 12, 16 and 24 oz. iced beverages.</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">12/16 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">11007879</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-11007879"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-11007879"]);
                                                                    TempData.Remove("SKU-11007879");

                                                                }
                                                                @Html.TextBox("SKU-11007879", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article data-sku="11009969" id="product-40%_PCF_Napkins" class="product 40%_PCF_Napkins available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/products/200/SBX_Napkins.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">40% PCF Napkins</h2>
                                            <p>Complete your branded service with We Proudly Serve napkins.</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">6 3/8&#34; x 4 3/4&#34; folded</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">11009969</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">6000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-11009969"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-11009969"]);
                                                                    TempData.Remove("SKU-11009969");

                                                                }
                                                                @Html.TextBox("SKU-11009969", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                        else
                        {
                            <article data-sku="1237520" id="product-PP_Cold_Cups" class="product PP_Cold_Cups available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/products/200/Cold_Cups.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">PP Cold Cups</h2>
                                            <p>"We Proudly Serve" branded polyporpylene cups are recyclable and use 15% less plastic than PET cups and emit 45% less greenhouse gasses during their production.</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">1237520</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-1237520"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-1237520"]);
                                                                    TempData.Remove("SKU-1237520");

                                                                }
                                                                @Html.TextBox("SKU-1237520", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="1237505" id="product-PP_Cold_Cup_Lids" class="product PP_Cold_Cup_Lids available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/cold-flat-lids.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">PP Cold Cup Lids</h2>
                                            <p>Flat Lids for cold cups</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16/24 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">1237505</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-1237505"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-1237505"]);
                                                                    TempData.Remove("SKU-1237505");

                                                                }
                                                                @Html.TextBox("SKU-1237505", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="1237504" id="product-PP_Cold_Cup_Lids" class="product PP_Cold_Cup_Lids available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/cold-domed-lids.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">PP Cold Cup Lids</h2>
                                            <p>Domed Lids for cold cups</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">16/24 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">1237504</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-1237504"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-1237504"]);
                                                                    TempData.Remove("SKU-1237504");

                                                                }
                                                                @Html.TextBox("SKU-1237504", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article data-sku="11007879" id="product-Green_Straws" class="product Green_Straws available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/products/200/Green_Straws.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">Green Straws</h2>
                                            <p>Green straws for Starbucks 12, 16 and 24 oz. iced beverages.</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">12/16 oz</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">11007879</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-11007879"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-11007879"]);
                                                                    TempData.Remove("SKU-11007879");

                                                                }
                                                                @Html.TextBox("SKU-11007879", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article data-sku="11009969" id="product-40%_PCF_Napkins" class="product 40%_PCF_Napkins available">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/products/200/SBX_Napkins.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">40% PCF Napkins</h2>
                                            <p>Complete your branded service with We Proudly Serve napkins.</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size </span>
                                                                    <span class="value">6 3/8&#34; x 4 3/4&#34; folded</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">11009969</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">6000/case</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @if (TempData.ContainsKey("SKU-11009969"))
                                                                {
                                                                    inputValue = Convert.ToInt32(TempData["SKU-11009969"]);
                                                                    TempData.Remove("SKU-11009969");

                                                                }
                                                                @Html.TextBox("SKU-11009969", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                                @{ inputValue = 0; }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    }
                    else
                    {
                        <h2 class="account-msg">Please select a specific account from your <a href="/dashboard">dashboard</a> to display the correct products.</h2>
                    }

                    <article data-sku="177803" id="product-Whipped_Cream_Dispenser" class="product Whipped_Cream_Dispenser available">
                        <div class="product-inner">
                            <div class="product-column img">
                                <div class="img-wrapper">
                                    <img class="product-image" src="/img/products/200/Whipped_Cream_Dispenser.jpg" />
                                </div>
                            </div>
                            <div class="product-column details">
                                <div class="product-info">
                                    <h2 class="title">Whipped Cream Dispenser</h2>
                                    <p>Stainless-steel whipped cream dispenser manufactured by ISI. Comes with decorating tip, charger holder and cleaning brush.</p>
                                </div>
                                <div class="product-skus">
                                    <ul class="product-sku-list">
                                        <li class="product-sku-group">
                                            <ul>
                                                <li class="product-sku">
                                                    <ul>
                                                        <li>
                                                            <span class="key">Size </span>
                                                            <span class="value">N/A</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">SKU</span>
                                                            <span class="value">177803</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">Pack</span>
                                                            <span class="value">1/each</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="product-order-qty">
                                                    <span class="prod-qty">
                                                        <label>Qty</label>
                                                        @if (TempData.ContainsKey("SKU-177803"))
                                                        {
                                                            inputValue = Convert.ToInt32(TempData["SKU-177803"]);
                                                            TempData.Remove("SKU-177803");

                                                        }
                                                        @Html.TextBox("SKU-177803", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                        @{ inputValue = 0; }
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article data-sku="177806" id="product-Decorating_Tip" class="product Decorating_Tip available">
                        <div class="product-inner">
                            <div class="product-column img">
                                <div class="img-wrapper">
                                    <img class="product-image" src="/img/products/200/Decorating_Tip.jpg" />
                                </div>
                            </div>
                            <div class="product-column details">
                                <div class="product-info">
                                    <h2 class="title">Whipped Cream Charger</h2>
                                    <p>Decorating tip for ISI whipped cream dispenser</p>
                                </div>
                                <div class="product-skus">
                                    <ul class="product-sku-list">
                                        <li class="product-sku-group">
                                            <ul>
                                                <li class="product-sku">
                                                    <ul>
                                                        <li>
                                                            <span class="key">Size </span>
                                                            <span class="value">N/A</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">SKU</span>
                                                            <span class="value">177806</span>
                                                        </li>
                                                        <li>
                                                            <span class="key">Pack</span>
                                                            <span class="value">10/bag</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="product-order-qty">
                                                    <span class="prod-qty">
                                                        <label>Qty</label>
                                                        @if (TempData.ContainsKey("SKU-177806"))
                                                        {
                                                            inputValue = Convert.ToInt32(TempData["SKU-177806"]);
                                                            TempData.Remove("SKU-177806");

                                                        }
                                                        @Html.TextBox("SKU-177806", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                        @{ inputValue = 0; }
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--    End Supporting Products -->

                    <!--    Begin Marketing -->
                    @if (TempData.ContainsKey("MKT-SFS-007-WPS-CC1-00877"))
                    {
                        if (Convert.ToInt32(TempData["MKT-SFS-007-WPS-CC1-00877"]) > 0) 
                        {
                        <article data-sku="MKT-SFS-007-WPS-CC1-00877" class="product">
                                <div class="product-inner">
                                    <div class="product-column img">
                                        <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/fontana-blended-beverages-starter-kit-marketing.jpg" />
                                        </div>
                                    </div>
                                    <div class="product-column details">
                                        <div class="product-info">
                                            <h2 class="title">Fontana&trade; Blended Beverages Marketing Materials</h2>
                                            <p>Counter Card</p>
                                        </div>
                                        <div class="product-skus">
                                            <ul class="product-sku-list">
                                                <li class="product-sku-group">
                                                    <ul>
                                                        <li class="product-sku">
                                                            <ul>
                                                                <li>
                                                                    <span class="key">Size</span>
                                                                    <span class="value">8.5&#34; x 11&#34;</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">SKU</span>
                                                                    <span class="value">MKT-SFS-007-WPS-CC1-00877</span>
                                                                </li>
                                                                <li>
                                                                    <span class="key">Pack</span>
                                                                    <span class="value">1</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="product-order-qty">
                                                            <span class="prod-qty">
                                                                <label>Qty</label>
                                                                @{
                                                                    inputValue = Convert.ToInt32(TempData["MKT-SFS-007-WPS-CC1-00877"]);
                                                                    TempData.Remove("MKT-SFS-007-WPS-CC1-00877");
                                                                }
                                                                @Html.TextBox("MKT-SFS-007-WPS-CC1-00877", inputValue, new { @type = "number", @class = "qty-input", @min = "0", @readonly="true" })
                                                                @{
                                                                    inputValue = 0;
                                                                }
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    }

                    @if (TempData.ContainsKey("MKT-SFS-007-WPS-PST-00876-28"))
                    {
                        if (Convert.ToInt32(TempData["MKT-SFS-007-WPS-PST-00876-28"]) > 0) { 
                            <article data-sku="SFS-007-WPS-PST-00876-28" class="product">
                            <div class="product-inner">
                                <div class="product-column img">
                                    <div class="img-wrapper">
                                        <img class="product-image" src="/img/programs/year-round/fontana-blended-beverages-starter-kit-marketing.jpg" />
                                    </div>
                                </div>
                                <div class="product-column details">
                                    <div class="product-info">
                                        <h2 class="title">Fontana&trade; Blended Beverages Marketing Materials</h2>
                                        <p>Poster</p>
                                    </div>
                                    <div class="product-skus">
                                        <ul class="product-sku-list">
                                            <li class="product-sku-group">
                                                <ul>
                                                    <li class="product-sku">
                                                        <ul>
                                                            <li>
                                                                <span class="key">Size</span>
                                                                <span class="value">22&quot; x 28&quot;</span>
                                                            </li>
                                                            <li>
                                                                <span class="key">SKU</span>
                                                                <span class="value">SFS-007-WPS-PST-00876-28</span>
                                                            </li>
                                                            <li>
                                                                <span class="key">Pack</span>
                                                                <span class="value">1</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="product-order-qty">
                                                        <span class="prod-qty">
                                                            <label>Qty</label>
                                                            @{
                                                                inputValue = Convert.ToInt32(TempData["MKT-SFS-007-WPS-PST-00876-28"]);
                                                                TempData.Remove("MKT-SFS-007-WPS-PST-00876-28");
                                                                }
                                                            @Html.TextBox("MKT-SFS-007-WPS-PST-00876-28", inputValue, new { @type = "number", @class = "qty-input", @min = "0", @readonly="true" })
                                                            @{
                                                                inputValue = 0;
                                                            }
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                        }
                    }

                    <a name="products-submit"></a>
                    <section class="products-add-to-bag">
                        <div class="inner-wrapper">
                            <button class="products-add" id="finish-prog-order" data-action="@Url.Action("AddItemsToBag", "BagSurface")">Add To Bag</button>
                        </div>
                    </section>
                </form>
            </div>
			<input name='ufprt' type='hidden' value='E17FB4D65D6E136B9DF3F0F383291B84C6944782DCB3E0B940EED2B844F4872FEC20571865F4C1E5A1FC37BBA846CD31450E8EEC264B9DA411B2CB84DBD4CEDBF4E9E9CD0954754BA1B88B46701B71B8A8B9547E19A2027155961F18492C7AF69560AE889FC856A399FC8B23A023E346E754FDC00284745AACDD4331B07347E592E135C80C203CE4B53B55634B5AE617ADCC72BD7D0F55FCA4C8932106794D6E8C03262E' />
		</div>
	</section>
</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            SBS.ProgramFunctionality();
        });
    </script>
    <script>
        //ie8 checkbox

        $(document).ready(function () {
            $('.checkbox').unbind('click touch').bind('click touch', function () {

                var aunt = $(this).parent().prev('input');

                aunt.toggleClass('checked');

            });

            $(".mkt-select").select2({
                minimumResultsForSearch: -1
            });

            $(".product-type-select").select2({
                minimumResultsForSearch: -1,
                dropdownCssClass: 'product-type-dropdown'
            });

            $('#explore-all-sugar-free-flavors .tile-elements h2').replaceWith('<h2>Explore all<br />Sugar-Free flavors</h2>');

        });


   </script>

}
