@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    var inputValue = 0;
    var currentUrl = Request.RawUrl;
    if (currentUrl.Contains("program"))
    {
    <script src="/js/libs/jquery-mobile/jquery.mobile.custom.js"></script>
    <script src="/js/libs/joyride/jquery.joyride-2.1.js"></script>
    <script src="/js/libs/select2.js"></script>
    }
}

ta
<section id="content">
    <section class="wrapper">
        <div class="products-wrapper">
			<div class="your-products">

                <h3>Browse all of our Program Products</h3>
                <p><a class="inline-link" href="#products-submit" data-role="none">Or continue your order below</a>. Any recipes added in the previous step will be reflected on this page.</p>
		
                <form id="programItemsForm" method="post">
                <article id="product-Starbucks_Iced_Coffee_Blend" class="product Starbucks_Iced_Coffee_Blend available">
                    <div id="out-of-stock-overlay">
                        <div class="overlay-inner">
                            <p>Out of stock for the season</p>
                        </div>
                    </div>
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                <img class="product-image" src="/img/products/200/starbucks_iced_coffee_blend.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">Starbucks® Iced Coffee Blend</h2>
                                <p>For summer months or year-round, this is an approachable, balanced, caramelly-smooth blend of Latin American and African beans with a hint of citrus and sweetness.</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">9 oz.</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">195704</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">28/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-195704"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-195704"]);
                                                        TempData.Remove("SKU-195704");

                                                    }
                                                    @Html.TextBox("SKU-195704", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <article id="product-Fontana_Classic_Syrup" class="product Fontana_Classic_Syrup available">
                    <div id="out-of-stock-overlay">
                        <div class="overlay-inner">
                            <p>Out of stock for the season</p>
                        </div>
                    </div>
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                <img class="product-image" src="/img/products/200/classic_syrup.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">Fontana® Classic Syrup</h2>
                                <p>The perfect foundation for a wide variety of specialty beverages. A must-have for your operation.</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">1 liter</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">11041386</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">4/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-11041386"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-11041386"]);
                                                        TempData.Remove("SKU-11041386");

                                                    }
                                                    @Html.TextBox("SKU-11041386", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <article id="product-Fontana_Vanilla_Syrup" class="product Fontana_Vanilla_Syrup available">
                    <div id="out-of-stock-overlay">
                        <div class="overlay-inner">
                            <p>Out of stock for the season</p>
                        </div>
                    </div>
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                <img class="product-image" src="/img/products/200/vanilla_syrup.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">Fontana® Vanilla Syrup</h2>
                                <p>Our deliciously creamy Vanilla Syrup lets you make an incredible variety of specialty beverages.</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">1 liter</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">516267</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">4/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-516267"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-516267"]);
                                                        TempData.Remove("SKU-516267");

                                                    }
                                                    @Html.TextBox("SKU-516267", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <article id="product-Fontana_Caramel_Syrup" class="product Fontana_Caramel_Syrup available">
                    <div id="out-of-stock-overlay">
                        <div class="overlay-inner">
                            <p>Out of stock for the season</p>
                        </div>
                    </div>
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                <img class="product-image" src="/img/products/200/Caramel_Syrup.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">Fontana® Caramel Syrup</h2>
                                <p>Easily add the richness and complexity of caramel to any beverage.</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">1 liter</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">11041374</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">4/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-11041374"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-11041374"]);
                                                        TempData.Remove("SKU-11041374");

                                                    }
                                                    @Html.TextBox("SKU-11041374", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <article id="product-Fontana_Hazelnut_Syrup" class="product Fontana_Hazelnut_Syrup available">
                    <div id="out-of-stock-overlay">
                        <div class="overlay-inner">
                            <p>Out of stock for the season</p>
                        </div>
                    </div>
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                <img class="product-image" src="/img/products/200/Hazelnut_Syrup.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">Fontana® Hazelnut Syrup</h2>
                                <p>Attract customers with the heady aroma of hazelnut and coffee, then pay off their interest with a deliciously original specialty beverage.</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">1 liter</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">516247</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">4/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-516247"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-516247"]);
                                                        TempData.Remove("SKU-516247");

                                                    }
                                                    @Html.TextBox("SKU-516247", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <!--    Begin Supporting Products -->

                <article data-sku="1237520" id="product-PP_Cold_Cups" class="product PP_Cold_Cups available">
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                <img class="product-image" src="/img/products/200/Cold_Cups.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">PP Cold Cups</h2>
                                <p>"We Proudly Serve" branded polyporpylene cups are recyclable and use 15% less plastic than PET cups and emit 45% less greenhouse gasses during their production.</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">16 oz</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">1237520</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">1000/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-1237520"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-1237520"]);
                                                        TempData.Remove("SKU-1237520");

                                                    }
                                                    @Html.TextBox("SKU-1237520", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article data-sku="1237505" id="product-PP_Cold_Cup_Lids" class="product PP_Cold_Cup_Lids available">
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                    <img class="product-image" src="/img/programs/year-round/cold-flat-lids.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">PP Cold Cup Lids</h2>
                                <p>Flat Lids for cold cups</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">16/24 oz</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">1237505</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">1000/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-1237505"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-1237505"]);
                                                        TempData.Remove("SKU-1237505");

                                                    }
                                                    @Html.TextBox("SKU-1237505", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article data-sku="1237504" id="product-PP_Cold_Cup_Lids_domed" class="product PP_Cold_Cup_Lids available">
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                    <img class="product-image" src="/img/programs/year-round/cold-domed-lids.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">PP Cold Cup Lids</h2>
                                <p>Domed Lids for cold cups</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">16/24 oz</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">1237504</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">1000/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @{
                                                        inputValue = Convert.ToInt32(TempData["SKU-1237504"]);
                                                        TempData.Remove("SKU-1237504");

                                                    }
                                                    @Html.TextBox("SKU-1237504", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article data-sku="11007879" id="product-Green_Straws" class="product Green_Straws available">
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                <img class="product-image" src="/img/products/200/Green_Straws.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">Green Straws</h2>
                                <p>Green straws for Starbucks 12, 16 and 24 oz. iced beverages.</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">12/16 oz</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">11007879</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">1000/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-11007879"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-11007879"]);
                                                        TempData.Remove("SKU-11007879");

                                                    }
                                                    @Html.TextBox("SKU-11007879", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article data-sku="11009969" id="product-40%_PCF_Napkins" class="product 40%_PCF_Napkins available">
                    <div class="product-inner">
                        <div class="product-column img">
                            <div class="img-wrapper">
                                    <img class="product-image" src="/img/products/200/SBX_Napkins.jpg" />
                            </div>
                        </div>
                        <div class="product-column details">
                            <div class="product-info">
                                <h2 class="title">40% PCF Napkins</h2>
                                <p>Complete your branded service with We Proudly Serve napkins.</p>
                            </div>
                            <div class="product-skus">
                                <ul class="product-sku-list">
                                    <li class="product-sku-group">
                                        <ul>
                                            <li class="product-sku">
                                                <ul>
                                                    <li>
                                                        <span class="key">Size </span>
                                                        <span class="value">6 3/8&#34; x 4 3/4&#34; folded</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">SKU</span>
                                                        <span class="value">11009969</span>
                                                    </li>
                                                    <li>
                                                        <span class="key">Pack</span>
                                                        <span class="value">6000/case</span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="product-order-qty">
                                                <span class="prod-qty">
                                                    <label>Qty</label>
                                                    @if (TempData.ContainsKey("SKU-11009969"))
                                                    {
                                                        inputValue = Convert.ToInt32(TempData["SKU-11009969"]);
                                                        TempData.Remove("SKU-11009969");

                                                    }
                                                    @Html.TextBox("SKU-11009969", inputValue, new { @type = "number", @class = "qty-input", @min = "0" })

                                                    @{ inputValue = 0; }
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <!--    End Supporting Products -->

                <!--    Begin Marketing -->
                @if (TempData.ContainsKey("MKT-SFS-007-WPS-CC1-1305"))
                {
                    if (Convert.ToInt32(TempData["MKT-SFS-007-WPS-CC1-1305"]) > 0) { 
                        <article data-sku="MKT-SFS-007-WPS-CC1-1305" id="product-40%_PCF_Napkins" class="product 40%_PCF_Napkins available">
                            <div class="product-inner">
                                <div class="product-column img">
                                    <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/iced-coffee-starter-kit-marketing.png" />
                                    </div>
                                </div>
                                <div class="product-column details">
                                    <div class="product-info">
                                        <h2 class="title">Iced Coffee Marketing Materials</h2>
                                        <p>Counter Card</p>
                                    </div>
                                    <div class="product-skus">
                                        <ul class="product-sku-list">
                                            <li class="product-sku-group">
                                                <ul>
                                                    <li class="product-sku">
                                                        <ul>
                                                            <li>
                                                                <span class="key">Size</span>
                                                                <span class="value">8.5" x 11"</span>
                                                            </li>
                                                            <li>
                                                                <span class="key">SKU</span>
                                                                <span class="value">SFS-007-WPS-CC1-1305</span>
                                                            </li>
                                                            <li>
                                                                <span class="key">Pack</span>
                                                                <span class="value">1</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="product-order-qty">
                                                        <span class="prod-qty">
                                                            <label>Qty</label>
                                                            @{
                                                                inputValue = Convert.ToInt32(TempData["MKT-SFS-007-WPS-CC1-1305"]);
                                                                TempData.Remove("MKT-SFS-007-WPS-CC1-1305");
                                                            }
                                                                @Html.TextBox("MKT-SFS-007-WPS-CC1-1305", inputValue, new { @type = "number", @class = "qty-input", @min = "0", @readonly="true" })
                                                            @{
                                                                inputValue = 0;
                                                            }
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                }

                @if (TempData.ContainsKey("MKT-SFS-007-WPS-TT1-1311"))
                {
                    if (Convert.ToInt32(TempData["MKT-SFS-007-WPS-TT1-1311"]) > 0) { 
                        <article data-sku="MKT-SFS-007-WPS-TT1-1311" id="product-40%_PCF_Napkins" class="product 40%_PCF_Napkins available">
                            <div class="product-inner">
                                <div class="product-column img">
                                    <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/iced-coffee-starter-kit-marketing.png" />
                                    </div>
                                </div>
                                <div class="product-column details">
                                    <div class="product-info">
                                        <h2 class="title">Iced Coffee Marketing Materials</h2>
                                        <p>Table Tent</p>
                                    </div>
                                    <div class="product-skus">
                                        <ul class="product-sku-list">
                                            <li class="product-sku-group">
                                                <ul>
                                                    <li class="product-sku">
                                                        <ul>
                                                            <li>
                                                                <span class="key">Size</span>
                                                                <span class="value">5" x 7"</span>
                                                            </li>
                                                            <li>
                                                                <span class="key">SKU</span>
                                                                <span class="value">SFS-007-WPS-TT1-1311</span>
                                                            </li>
                                                            <li>
                                                                <span class="key">Pack</span>
                                                                <span class="value">1</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="product-order-qty">
                                                        <span class="prod-qty">
                                                            <label>Qty</label>
                                                            @{
                                                                inputValue = Convert.ToInt32(TempData["MKT-SFS-007-WPS-TT1-1311"]);
                                                                TempData.Remove("MKT-SFS-007-WPS-TT1-1311");
                                                                }
                                                                @Html.TextBox("MKT-SFS-007-WPS-TT1-1311", inputValue, new { @type = "number", @class = "qty-input", @min = "0", @readonly="true" })
                                                            @{
                                                                inputValue = 0;
                                                            }
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                }
                    
                @if (TempData.ContainsKey("MKT-SFS-007-WPS-PST-1309"))
                {
                    if (Convert.ToInt32(TempData["MKT-SFS-007-WPS-PST-1309"]) > 0) { 
                        <article data-sku="MKT-SFS-007-WPS-PST-1309" id="product-40%_PCF_Napkins" class="product 40%_PCF_Napkins available">
                            <div class="product-inner">
                                <div class="product-column img">
                                    <div class="img-wrapper">
                                            <img class="product-image" src="/img/programs/year-round/iced-coffee-starter-kit-marketing.png" />
                                    </div>
                                </div>
                                <div class="product-column details">
                                    <div class="product-info">
                                        <h2 class="title">Iced Coffee Marketing Materials</h2>
                                        <p>Posters</p>
                                    </div>
                                    <div class="product-skus">
                                        <ul class="product-sku-list">
                                            <li class="product-sku-group">
                                                <ul>
                                                    <li class="product-sku">
                                                        <ul>
                                                            <li>
                                                                <span class="key">Size</span>
                                                                <span class="value">22" x 28"</span>
                                                            </li>
                                                            <li>
                                                                <span class="key">SKU</span>
                                                                <span class="value">SFS-007-WPS-PST-1309</span>
                                                            </li>
                                                            <li>
                                                                <span class="key">Pack</span>
                                                                <span class="value">1</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="product-order-qty">
                                                        <span class="prod-qty">
                                                            <label>Qty</label>
                                                            @{
                                                                inputValue = Convert.ToInt32(TempData["MKT-SFS-007-WPS-PST-1309"]);
                                                                TempData.Remove("MKT-SFS-007-WPS-PST-1309");
                                                                }
                                                                    @Html.TextBox("MKT-SFS-007-WPS-PST-1309", inputValue, new { @type = "number", @class = "qty-input", @min = "0", @readonly="true" })
                                                            @{
                                                                inputValue = 0;
                                                            }
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                }
                </form>
                <a name="products-submit"></a>
	            <section class="products-add-to-bag">
                    <div class="inner-wrapper">
                        <button class="products-add btn btn-green" id="finish-prog-order" data-action="@Url.Action("AddItemsToBag", "BagSurface")">Add To Bag</button>
                    </div>
	            </section>
	        </div>
			<input name='ufprt' type='hidden' value='E17FB4D65D6E136B9DF3F0F383291B84C6944782DCB3E0B940EED2B844F4872FEC20571865F4C1E5A1FC37BBA846CD31450E8EEC264B9DA411B2CB84DBD4CEDBF4E9E9CD0954754BA1B88B46701B71B8A8B9547E19A2027155961F18492C7AF69560AE889FC856A399FC8B23A023E346E754FDC00284745AACDD4331B07347E592E135C80C203CE4B53B55634B5AE617ADCC72BD7D0F55FCA4C8932106794D6E8C03262E' />
		</div>
	</section>
</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            SBS.ProgramFunctionality();
        });
    </script>
    <script>
        //ie8 checkbox

        $(document).ready(function () {
            $('.checkbox').unbind('click touch').bind('click touch', function () {

                var aunt = $(this).parent().prev('input');

                aunt.toggleClass('checked');

            });

            $(".mkt-select").select2({
                minimumResultsForSearch: -1
            });

            $(".product-type-select").select2({
                minimumResultsForSearch: -1,
                dropdownCssClass: 'product-type-dropdown'
            });

            $('#explore-all-sugar-free-flavors .tile-elements h2').replaceWith('<h2>Explore all<br />Sugar-Free flavors</h2>');

        });


   </script>

}
