@using solutions.starbucks.Model
@using System.Web.Mvc.Html
@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@using solutions.starbucks.Model.Pocos
@using Umbraco.Web
@model OrderDetailsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

@if (Model != null)
{
    <section id="content">
        <section class="inner-container">
            <div class="order-history">
                <div class="clear order-history-title">
                    <h1>Online Order Details</h1>
                    <a href="/dashboard" class="dotted-link">&laquo; Dashboard</a> <a href="/order-history" class="dotted-link">&laquo; Order History</a>
                </div>

                <div class="order-history-pov">
                    <div class="order-history-row alt">
                        <div class="order-calendar">
                            <div class="day">@Model.Order.DateOrdered.ToString("MMM")</div>
                            <div class="month">@Model.Order.DateOrdered.ToString("dd")</div>
                        </div>
                        <div class="order-details">
                            <h3>@Model.Order.DateOrdered.ToString("MMM dd, yyyy")</h3>
                            <div class="order-line"><span>ORDERED BY:</span> @Model.Order.CustomerName <br /> @Model.Order.EmailAddress</div>
                            <div class="order-line"><span>SHIPPED TO:</span> @Model.Order.OperationName <br />@Model.Order.ShipToAddress1 @Model.Order.ShipToAddress2 <br /> @Model.Order.ShipToCity, @Model.Order.ShipToState @Model.Order.ShipToPostalCode</div>
                            <div class="order-line"><span>PHONE:</span> @Model.Order.Telephone</div>
                        </div>
                    </div>
                </div>

                <div class="cart-contents">
                    <a class="h1" href="/dashboard">Acct. #@Model.Order.AccountNumber </a>
                    @if (Model.Order.OrderItems != null)
                    {
                        foreach (var orderItem in (IEnumerable<OrderItems>)Model.Order.OrderItems)
                        {
                            <div class="row order-item@(i++ % 2 == 0 ? "even" : "odd")">
                                <div class="col col1">
                                    <img src="@(orderItem.ThumbImgURL)" />
                                </div>
                                <div class="col col2">
                                    <h3>
                                        @orderItem.Name
                                    </h3>
                                </div>
                                <div class="col col3">
                                    <div>
                                        <strong>SKU</strong>@orderItem.SKUNumber
                                    </div>
                                    <div>
                                        <strong>QTY</strong>@orderItem.Quantity
                                    </div>
                                    <div>
                                        <strong>PACK</strong>@orderItem.UOM
                                    </div>
                                </div>
                                <a class="dotted-link tr-dotted-link" href="@(orderItem.ProductURL)" target="_blank">View Product &raquo;</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </section>
    </section>
}