@using System.Web.Mvc.Html
@using Umbraco.Web
@using solutions.starbucks.web.Controllers
@using solutions.starbucks.Model
@model RegisterPageOneViewModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
    
}



<div class="step-wrapper">
    <h2>Step 1:</h2>
    <h3>Enter Your Email</h3>
    <h3 id="watch-demo"><a href="#" data-reveal-id="videoModal" class="radius button">Watch demo  <img src="/img/sbs-play.png" id="play-button" /></a></h3>


<div id="videoModal" class="reveal-modal" data-reveal>
      <iframe src="//player.vimeo.com/video/100943349?api=1&player_id=video-player" id="video-player" width="960" height="540" frameborder="0" ></iframe>

  <a class="close-reveal-modal">&#215;</a>
</div>
    <!-- <div class="forgotten-pass error">
                    <h4>Forgotten password?</h4>
                    <p>
                        <a href="/forgotten-password" data-reveal-id="forgotPassModal">Click here</a> to recover your password.
                    </p>
    </div> -->

                </div>
<div class="form-wrapper">

@if (Convert.ToBoolean(TempData["Success"]))
{
    <div class="success">
        <p>You have successfully registered. 

    @if (Convert.ToBoolean(TempData["AccountValidated"]))
    {
        if (!Convert.ToBoolean(TempData["PartnerRegistration"]))
        {
            <text> Your account/zip has been verified. Just double check your email to verify your email address and you're in! </text>
        }
        else 
        {
            <text> Welcome Starbucks Partner! Please verify your email address by clicking the link in the email that should hit your inbox shortly. Once that happens, you will be able to access all content for Starbucks Branded Solutions! </text>
        }


    }
    else 
    {
      <text> Your account/zip has not been verified.  After verifying your email address, go to your profile and add an account number/zip combination to get full access! </text>

    }
        </p>
    </div>
}
else 
{
//    var ajaxOptions = new AjaxOptions
//{
//    HttpMethod = "POST"
//}; 
//    using (Ajax.BeginForm("ProcessRegistration", "RegisterSurface", ajaxOptions))
    using (Html.BeginUmbracoForm<RegisterSurfaceController>("ProcessRegistration", null, new { id = "registrationForm"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            
                <div class="grouping email reg-one">
                    <label><span class="field-label">Email*</span> @Html.ValidationMessageFor(model => model.EmailAddress, string.Empty, new { @class = "help-block" })</label>
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
                    
                </div>
            
            
            @Html.HiddenFor(model => model.NextPage)

            <div class="required-notice">*Indicates Required Field</div>
            <div class="register-buttons">
                <a href="/" class="btn-skip">Cancel</a>
                <button type="submit" class="btn btn-default">Continue</button>
                <span class="loading">
                    @* <i class="fa fa-circle-o-notch fa-spin"></i> *@
                    <img src="/img/form-icons/loading.gif" width="16" height="16" /> <span class="text">Loading...</span>
                </span>
                
            </div>

        </fieldset>
    

    }      
}

</div>

<p class="register-learn-link">Not a current customer? <a href="/our-brands/">Learn about our brands &raquo;</a></p>
